<body>
<p>Ingredients:</p>
    <ol>
        <li>Chicken breast 300g</li>
        <li>Chips (frozen) 170g</li>
        <li>Tesco chicken seasoning 2 teaspoons</li>
        <li>Garlic 1 clove</li>
        <li>Oil (preferably olive, but use what’s available) 2 tablespoons</li>
        <li>1 Lettuce</li>
        <li>1 Tomato</li>
        <li>1 Onion</li>
        <li>Coleslaw</li>
        <li>Red cabbage slaw</li>
    </ol>
</body>









