<div class="window">   
    <% provide(:title, @user.username) %>
    <h1 class="title">welcome back, <%= @user.username %></h1>
    <div class="col-md-8">
        <% if @user.recipes.any? %>
          <h3>You have uploaded <%= @user.recipes.count %> recipes:</h3>
          <ol class="recipes">
            <%= render @recipes %>
          </ol>
          <%= will_paginate @recipes %>
        <% end %>
    </div>
</div>