<div class="roof"></div>
<div class="hider"></div>
<div class="logobgd"></div>
<h1 class="title">Community</h1>
<% if @feed_items.any? %>
  <ol class="microposts">
    <%= render @feed_items %>
  </ol>
  <%= will_paginate @feed_items %>
<% end %>