<body class="page">
  <div class="roof"></div>
  <div class="hider"></div>
  <div class="logobgd"></div>
  <h1 class="title">Contact</h1>
  <p>Email address: kw00310@surrey.ac.uk</p>
  <p>TO DO LIST:
-find out how to add a div under my video so I can have an about us section.
-how to make img tags work so I can add recipes divs to pictures.
- FIX mySQL so I can set up the database for users.
</p>
  <div class="base"></div>
</body>

