<body>
  <%= video_tag "Background.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
    <div class="window">
      <div class="window-container">
        <% if logged_in? %>
        <h1>Welcome <%= current_user.username %></h1>
        <% else %>
        <h1>Welcome!</h1>
        <p>If you haven't already, please sign up here:</p>
        <button onclick="window.location.href='/signup'">Sign-up <i class="fas fa-address-card"></i></button>
        <button onclick="window.location.href='/login'">Login <i class="fas fa-user"></i></button>
        <% end %>
        <div class="base"></div>
      </div>
    <div class = "aboutus_div">
      <div class = "aboutus_window">
        <%= image_tag "banner"%>
        <p><br>Hi, My name is Kane Walsh. I am a third year Computing & Information Technology Student studying at the University of Surrey. I decided for my final year project I wanted to create a website to help other students and young adults to learn to cook. As a student who loves to cook myself, I wanted to share my tips and knowledge, and create a space for people to learn. With Thoughtful Eating, I hope I can achieve this.</p>
        <p>Thoughtful Eating is a food and fitness social media presence with the purpose of providing simple food recipes and fitness advice to students and other young adults. By signing up to our website, we hope you find a great selection of new food recipes, fitness advice, and plans to help you to better yourself. I hope you enjoy the site, and thank you for checking us out!</p>
        <p>Thanks,</p>
        <p>Kane Walsh</p>
      </div>
    </div>
</body>
