<div class="roof"></div>
<div class="hider"></div>
<div class="logobgd"></div>
<h1 class="title">Post Your Recipe Here:</h1>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
      </section>
      <section class="recipe_form">
        <%= render 'sharedviews/recipe_form' %>
      </section>
    </aside>
  </div>
<% else %>
<% end %>
