<body>
    <div class="roof"></div>
    <div class="hider"></div>
    <div class="logobgd"></div>
    <div class="foodcontainer">
        <h2>Beef in Blackbean Sauce</h2>
        <%= image_tag('blackbean.png') %>
        <h3>Ingredients:</h3>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
    <div class="foodcontainer2">
        <h3>Method:</h3>
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</body>