<body>
    <div class="roof"></div>
    <div class="hider"></div>
    <div class="logobgd"></div>
    <div class="foodcontainer"> 
        <h2>Lithuanian Style Fried Chicken</h2>
        <%= image_tag('lithuania.png') %>
        <h3>Ingredients:</h3>
        <ol>
            <li>Large Chicken Breast 500g</li>
            <li>Rice 1.5 cups</li>
            <li>Eggs (1)</li>
            <li>Breadcrumbs</li>
            <li>Kucharek Vegetable Seasoning 3 teaspoons</li>
            <li>Cucumber</li>
            <li>Tomato</li>
            <li>Lettuce</li>
        </ol>
    </div>
    <div class="foodcontainer2">
        <h3>Methods:</h3>
        <ol>
            <li>Prepare a salad by slicing up the vegetables to your liking. Place in the fridge until serving</li>
            <li>Put the chicken on a chopping board and cover with cling film. Using a meat tenderizer, flatten out the chicken breast. </li>
            <li>Crack the egg into one bowl, and fill another bowl with a mixture of breadcrumbs and three teaspoons of kucharek vegetable seasoning.</li>
            <li>Take the flattened chicken breasts, dip then in the egg and then graciously coat them in the breadcrumb mixture.</li>
            <li>Leave the coated chicken to rest. Rince your rice appropriately before turning on the rice cooker.</li>
            <li>Fry the coated chicken on a medium to high heat for around 10 minutes. (should take around the same time as your rice).</li>
            <li>Dish up the ingredients together and serve.</li>
        </ol>
    </div>
</body>