<body>
    <div class="roof"></div>
    <div class="hider"></div>
    <div class="logobgd"></div>
    <div class="foodcontainer">
        <h2>Southern Fried Chicken, Rice & Fruit Salad Dessert</h2>
        <%= image_tag('meal.png') %>
        <h3>Ingredients:</h3>
        <ol>
            <li>Birds Eye 2 Southern Fried Chicken Grills Frozen</li>
            <li>Rice</li>
            <li>Carrot (1)</li>
            <li>Blue Dragon Sweet Chilli Sauce</li>
            <li>grapes</li>
            <li>apple</li>
            <li>orange</li>
            <li>banana</li>
            <li>double cream</li>
        </ol>
    </div>
    <div class="foodcontainer2">
        <h3>Method:</h3>
        <ol>
            <li>Cook the chicken fillets as instructed on the packaging.</li>
            <li>Rince your rice appropriately before turning on the rice cooker.</li>
            <li>Leave rice cooker on until rice is cooked.</li>
            <li>Grate the carrot and mix it into the cooked rice.</li>
            <li>Slice the chicken fillets and garnish with the sweet chilli sauce.</li></li>
            <h4>For the desert:</h4>
            <li>Slice up the fruit and mix together in a bowl.</li>
            <li>Garnish with double cream.</li>
        </ol>
    </div>
</body>