<body>
    <div class="roof"></div>
    <div class="hider"></div>
    <div class="logobgd"></div>
    <div class="foodcontainer">    
        <h2>Chicken Special</h2>
        <%= image_tag('chicken-surprise.png') %>
        <h3>Ingredients:</h3>
        <ol>
            <li>Chicken breast 300g</li>
            <li>Chips (frozen) 170g</li>
            <li>Tesco chicken seasoning 2 teaspoons</li>
            <li>Garlic 1 clove</li>
            <li>Oil (preferably olive, but use what’s available) 2 tablespoons</li>
            <li>1 Lettuce</li>
            <li>1 Tomato</li>
            <li>1 Onion</li>
            <li>Coleslaw</li>
            <li>Red cabbage slaw</li>
        </ol>
        <h3>Method:</h3>
    </div>
    <div class="foodcontainer2">
        <ol>
            <li>Butterfly the chicken breast by placing your hand on top of the breast and carefully slicing vertically across the centre of the breast, starting from the thicker side. Cut until almost all the way through the breast, then open the cutlet. This should form a shape resembling a butterfly’s wings.</li>
            <li>Season the chicken breast with the chicken seasoning. Using your hands, rub the breast to ensure that the meat is evenly coated. Flatten the meat out using a tenderising hammer and (optionally) leave in the fridge for 3 hours to marinade.</li>
            <li>Prepare your salad vegetables to your liking, and leave in a bowl in the fridge until serving.</li>
            <li>Crush the garlic and slice it into slices.</li>
            <li>Add 2 tablespoons of oil to a pan and heat the pan on a medium heat</li>
            <li>Heat the garlic in the pan for 2-3 minutes or until golden brown.</li>
            <li>Add the chicken to the skillet and fry for 3 minutes, before flipping and cooking for a further 3 minutes.</li>
            <li>Dish up the salad onto a plate, along with the coleslaw and red cabbage slaw.</li>
            <li>Add the chicken to the plate and serve.</li>
        </ol>
    </div>    
</body>



















