/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body{
    margin: 0px
}
a{
    color: black;
    text-decoration: none;
}
/*for black footer*/
.base{
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    background-color: black;
    position: fixed;
    height: 45px;
}
/*css for header bar (behind the menu)*/
.roof{
    z-index: 0; 
    top: 0; 
    left: 0;
    width: 100%;
    background-color: #f4a83b;
    position:fixed ;
    height: 55px;
    border-bottom:solid 0.1px;
}

/*for div behind the logo*/
.logobgd{
    background-color: #f4a83b;
    top: 0cm;
    left: 0cm;
    height: 3.1cm;
    width: 10cm;
    z-index:8;
    border-bottom:solid 0.1px;
    border-right:solid 0.1px;
    position:fixed ;
    margin: 0;
    padding: 0;
}
/*logo css*/
.logo{
    z-index:10;
    height: 3.1cm;
    width: 10.4cm;
    position: fixed;
    
}

/*page title css*/
.title, .aboutus_div h1{
    font-size: 100px;
    font-family:'Brush Script MT';
    position: relative;
    text-align: center;
}
.title{
     z-index: -1;
}
/* background image */
.page{
    background-color: white;
}

/*menu buttons css */
.menu:hover, .menu2:hover, .menu3:hover, .menu4:hover{
    cursor: pointer;
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

.menu, .menu2, .menu3, .menu4, .menu-1 {
    background:none;
    border:none;
    margin:0;
    padding:0;
    position: fixed;
    top: 15px;
    right: 344px;
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet ms' ;
    z-index: 1;
    
/*button positioning*/ 
}
.menu-1 {
    right: 600px;
}
.menu2 {
    right: 251px;
}
.menu3 {
    right: 111px;
}
.menu4 {
    right: 15px;
}
.recipeimages{
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}
.recipepic{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
     transition: transform .2s;
     
}
.recipepic:hover {
    transform: scale(1.4);
}
.fitnessbtn{
    height: 240px;
    width: 240px;
    background-color: blue;
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet ms' ;
    border-radius: 50%;
    behavior: url(PIE.htc);
}
.fitnessbtn p{
    color: white;
}
/** dropdown menu **/
.dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    right: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom:50px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f4a83b;
}
.userbottomname{
    color: white;
}