.fitnessbtn{
    height: 240px;
    width: 240px;
    background-color: pink;
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet ms' ;
    border-radius: 50%;
    behavior: url(PIE.htc);
}
.fitnessbtm{
    height: 240px;
    width: 240px;
    background-color: pink;
    font-size: 25px;
    font-weight: bold;
    font-family:'Trebuchet ms' ;
    border-radius: 50%;
    behavior: url(PIE.htc);
}
.fitnessbtn p{
    color: white;
}