body{
    background-image: url();
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.ourfood{
    width:100%;
    height:30%;
    z-index: 1000;
}