// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#form{
    padding: 150px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
.profilepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: fixed;
    top: 100px;
    z-index: 11;
}
.namebelow {
    text-align: justify;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    z-index: 11;
}
.submit{
    width: 50px;
    height: 50px;
}
.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}